<div class="edit">
    <div class="nav">
        <div class="title">DearDiary</div>
    </div>

    <div class="body">
        <div class="container">
            <%= render 'form', entry: @entry %>
        </div>
    </div>
</div>