<div class="page">
    <div class="nav">
        <div class="logo">DearDiary</div>
        <div>
        <ul>
            <li>About</li>
            <li>Features</li>
            <li>Reviews</li>
            <li>Support</li>
        </ul></div>
    </div>
    <div class="body">
        <%= image_tag "book.png" %>
        <div class="text">
            <div class="slogan">Just <span>you</span> and <span>your thoughts</span>.</div>
            <div class="texts">Keep a record of your life, celebrate your successes, talk about your challenges, and learn more about the person you are.</div>
            <%= link_to "Start Writing!", entries_path%>
        </div>
    </div>
</div>